<%= button_to 'Sign out', destroy_user_session_path, method: :delete %>

<h1>Create Events</h1>
<%= button_to 'Create Event A', api_events_create_event_path, method: :post %>
<%= button_to 'Create Event B', api_events_create_event_path(send_mail: true), method: :post %>


<h1> Events </h1>
<table>
  <thead>
    <tr>
      <th> Event Type </th>
      <th> Created at </th>
    </tr>
  </thead>
  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td> <%= event.name %> </td>
        <td> <%= event.created_at.strftime("%d/%m/%y") %> </td>
      </tr>
    <% end %>
  </tbody>
</table>
